FORMAT: 1A
HOST: https://snyk.io/api/v1

# Snyk API

The Snyk API is available to customers on [paid plans](https://snyk.io/plans) and allows you to programatically integrate with Snyk.



## API vs CLI vs Snyk Integration
The API detailed below has the ability to test a package for issues, as they are defined by Snyk. It is important to note that for many package managers, using this API will be less accurate than running the [Snyk CLI](https://snyk.io/docs/using-snyk) as part of your build pipe, or just using it locally on your package. The reason for this is that more than one package version fit the requirements given in manifest files. Running the CLI locally tests the actual deployed code, and has an accurate snapshot of the dependency versions in use, while the API can only infer it, with inferior accuracy. It should be noted that the Snyk CLI has the ability to output machine-readable JSON output (with the `--json` flag to `snyk test`).

A third option, is to allow Snyk access to your development flow via the existing [Snyk integrations](https://snyk.io/docs/). The advantage to this approach is having Snyk monitor every new pull request, and suggest fixes by opening new pull requests. This can be achieved either by integrating Snyk directly to your source code management (SCM) tool, or via a broker to allow greater security and auditability.

If those are not viable options, this API is your best choice.

## API Url
The base URL for all API endpoints is https://snyk.io/api/v1/

## Authorization
To use this API, you must get your token from Snyk. It can be seen on https://snyk.io/account/ after you register with Snyk and login.

The token should be supplied in an `Authorization` header with the token, preceded by `token`:


```http
Authorization: token API_KEY
```

Otherwise, a 401 "Unauthorized" response will be returned.
```http
HTTP/1.1 401 Unauthorized

        {
            "code": 401,
            "error": "Not authorised",
            "message": "Not authorised"
        }
```


## Overview and Entities
The API is a REST API. It has the following entities:

### Test Result
The test result is the object returned from the API giving the results of testing a package for issues. It has the following fields:

| Property        | Type    | Description                                           | Example                                                         |
|----------------:|---------|-------------------------------------------------------|-----------------------------------------------------------------|
| ok              | boolean | Does this package have one or more issues?             | false                                                           |
| issues          | object  | The issues found. See below for details.              | See below                                                       |
| dependencyCount | number  | The number of dependencies the package has.           | 9                                                               |
| org             | object  | The organisation this test was carried out for.       | {"name": "anOrg", "id": "5d7013d9-2a57-4c89-993c-0304d960193c"} |
| licensesPolicy  | object  | The organisation's licenses policy used for this test | See in the examples                                             |
| packageManager  | string  | The package manager for this package                  | "maven"                                                         |
|                 |         |                                                       |                                                                 |


### Issue
An issue is either a vulnerability or a license issue, according to the organisation's policy. It has the following fields:

| Property       | Type          | Description                                                                                                                | Example                                |
|---------------:|---------------|----------------------------------------------------------------------------------------------------------------------------|----------------------------------------|
| id             | string        | The issue ID                                                                                                               | "SNYK-JS-BACKBONE-10054"               |
| url            | string        | A link to the issue details on snyk.io                                                                                     | "https://snyk.io/vuln/SNYK-JS-BACKBONE-10054 |
| title          | string        | The issue title                                                                                                            | "Cross Site Scripting"                 |
| type           | string        | The issue type: "license" or "vulnerability".                                                                              | "license"                              |
| paths          | array         | The paths to the dependencies which have an issue, and their corresponding upgrade path (if an upgrade is available). [More information about from and upgrade paths](#introduction/overview-and-entities/from-and-upgrade-paths) | [<br>&nbsp;&nbsp;{<br>&nbsp;&nbsp;&nbsp;&nbsp;"from": ["a@1.0.0", "b@4.8.1"],<br>&nbsp;&nbsp;&nbsp;&nbsp;"upgrade": [false, "b@4.8.2"]<br>&nbsp;&nbsp;}<br>] |
| package        | string        | The package identifier according to its package manager                                                                    | "backbone", "org.apache.flex.blazeds:blazeds"|
| version        | string        | The package version this issue is applicable to.                                                                           | "0.4.0"                                |
| severity       | string        | The Snyk defined severity level: "high", "medium" or "low".                                                                | "high"                                 |
| language       | string        | The package's programming language                                                                                         | "js"                                   |
| packageManager | string        | The package manager                                                                                                        | "npm"                                  |
| semver         | array[string] OR map[string]array[string] | One or more [semver](https://semver.org) ranges this issue is applcable to. The format varies according to package manager. | ["<0.5.0, >=0.4.0", "<0.3.8, >=0.3.6"] OR { "vulnerable": ["[2.0.0, 3.0.0)"], "unaffected": ["[1, 2)", "[3, )"] } |


### Vulnerability
A vulnerability in a package. In addition to all the fields present in an issue, a vulnerability also has these fields:

 Property        | Type    | Description                                                                                                                                                                                                                      | Example                                        |
----------------:|---------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|
 publicationTime | Date    | The vulnerability publication time                                                                                                                                                                                               | "2016-02-11T07:16:18.857Z"                     |
 disclosureTime  | Date    | The time this vulnerability was originally disclosed to the package maintaners                                                                                                                                                   | "2016-02-11T07:16:18.857Z"                     |
 isUpgradable    | boolean | Is this vulnerability fixable by upgrading a dependency?                                                                                                                                                                         | true                                           |
 description     | string  | The detailed description of the vulnerability, why and how it is exploitable. Provided in markdown format. | "## Overview\n[`org.apache.logging.log4j:log4j-core`](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22log4j-core%22)\nIn Apache Log4j 2.x before 2.8.2, when using the TCP socket server or UDP socket server to receive serialized log events from another application, a specially crafted binary payload can be sent that, when deserialized, can execute arbitrary code.\n\n# Details\nSerialization is a process of converting an object into a sequence of bytes which can be persisted to a disk or database or can be sent through streams. The reverse process of creating object from sequence of bytes is called deserialization. Serialization is commonly used for communication (sharing objects between multiple hosts) and persistence (store the object state in a file or a database). It is an integral part of popular protocols like _Remote Method Invocation (RMI)_, _Java Management Extension (JMX)_, _Java Messaging System (JMS)_, _Action Message Format (AMF)_, _Java Server Faces (JSF) ViewState_, etc.\n\n_Deserialization of untrusted data_ ([CWE-502](https://cwe.mitre.org/data/definitions/502.html)), is when the application deserializes untrusted data without sufficiently verifying that the resulting data will be valid, letting the attacker to control the state or the flow of the execution. \n\nJava deserialization issues have been known for years. However, interest in the issue intensified greatly in 2015, when classes that could be abused to achieve remote code execution were found in a [popular library (Apache Commons Collection)](https://snyk.io/vuln/SNYK-JAVA-COMMONSCOLLECTIONS-30078). These classes were used in zero-days affecting IBM WebSphere, Oracle WebLogic and many other products.\n\nAn attacker just needs to identify a piece of software that has both a vulnerable class on its path, and performs deserialization on untrusted data. Then all they need to do is send the payload into the deserializer, getting the command executed.\n\n> Developers put too much trust in Java Object Serialization. Some even de-serialize objects pre-authentication. When deserializing an Object in Java you typically cast it to an expected type, and therefore Java's strict type system will ensure you only get valid object trees. Unfortunately, by the time the type checking happens, platform code has already created and executed significant logic. So, before the final type is checked a lot of code is executed from the readObject() methods of various objects, all of which is out of the developer's control. By combining the readObject() methods of various classes which are available on the classpath of the vulnerable application an attacker can execute functions (including calling Runtime.exec() to execute local OS commands).\n- Apache Blog\n\n\n## References\n- [NVD](https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2017-5645)\n- [Jira Issue](https://issues.apache.org/jira/browse/LOG4J2-1863)\n" |
 isPatchable     | boolean | Is this vulnerability fixable by using a Snyk supplied patch?                                                                                                                                                                    | true                                           |
 identifiers     | object  | Additional vulnerability identifiers                                                                                                                                                                                             | {"CWE": [], "CVE": ["CVE-2016-2402]}           |
 credit          | string  | The reporter of the vulnerability                                                                                                                                                                                                | "Snyk Security Team"                           |
 CVSSv3          | string  | Common Vulnerability Scoring System (CVSS) provides a way to capture the principal characteristics of a vulnerability, and produce a numerical score reflecting its severity, as well as a textual representation of that score. | "CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:L/I:N/A:N" |
 cvssScore       | number  | CVSS Score                                                                                                                                                                                                                       | 5.3                                            |
 patches         | array   | Patches to fix this issue, by snyk                                                                                                                                                                                               | see "Patch" below.                             |
 upgradePath     | object  | The path to upgrade this issue, if applicable                                                                                                                                                                                    | see below                                      |
 isPatched       | boolean | Is this vulnerability patched?                                                                                                                                                                                                   | false                                          |


#### Patch
A patch is an object like this one:
```json
{
  "urls": [
    "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/master/patches/npm/backbone/20110701/backbone_20110701_0_0_0cdc525961d3fa98e810ffae6bcc8e3838e36d93.patch"
  ],
  "version": "<0.5.0 >=0.3.3",
  "modificationTime": "2015-11-06T02:09:36.180Z",
  "comments": [
    "https://github.com/jashkenas/backbone/commit/0cdc525961d3fa98e810ffae6bcc8e3838e36d93.patch"
  ],
  "id": "patch:npm:backbone:20110701:0"
}
```

### From and upgrade paths
Both from and upgrade paths are arrays, where each item within the array is a package `name@version`.

Take the following `from` path:
```
[
  "my-project@1.0.0",
  "actionpack@4.2.5",
  "rack@1.6.4"
]
```
Assuming this was returned as a result of a test, then we know:
- The package that was tested was `my-project@1.0.0`
- The dependency with an issue was included in the tested package via the direct dependency `actionpack@4.2.5`
- The dependency with an issue was [rack@1.6.4](https://snyk.io/vuln/rubygems:rack@1.6.4)

Take the following `upgrade` path:
```
[
  false,
  "actionpack@5.0.0",
  "rack@2.0.1"
]
```
Assuming this was returned as a result of a test, then we know:
- The package that was tested is not upgradable (`false`)
- The direct dependency `actionpack` should be upgraded to at least version `5.0.0` in order to fix the issue
- Upgrading `actionpack` to version `5.0.0` will cause `rack` to be installed at version `2.0.1`

If the `upgrade` path comes back as an empty array (`[]`) then this means that there is no upgrade path available which would fix the issue.

### License Issue
A license issue has no additional fields other than the ones in "Issue".

### Snyk Organisation
The organisation in Snyk this request is applicable to. The organisation determines the access rights, licenses policy and is the unit of billing for private projects.

A Snyk organisation has these fields:

Property    | Type   | Description                   | Example                                |
-----------:| ------ | ----------------------------- | -------------------------------------- |
name        | string | The organisation display name | "deelmaker"                            |
id          | string | The ID of the organisation    | "3ab0f8d3-b17d-4953-ab6d-e1cbfe1df385" |

## Errors
This is a beta release of this API. Therefore, despite out efforts, errors might occur. In the unlikely event of such an error, it will have the following structure as JSON in the body:

Property    | Type   | Description                   | Example                                |
-----------:| ------ | ----------------------------- | -------------------------------------- |
message     | string | Error message with reference  | Error calling Snyk api (reference: 39db46b1-ad57-47e6-a87d-e34f6968030b) |
errorRef    | V4 uuid | An error ref to contact Snyk with | 39db46b1-ad57-47e6-a87d-e34f6968030b |

The error reference will also be supplied in the `x-error-reference` header in the server reply.

Example response:
```http
HTTP/1.1 500 Internal Server Error
x-error-reference: a45ec9c1-065b-4f7b-baf8-dbd1552ffc9f
Content-Type: application/json; charset=utf-8
Content-Length: 1848
Vary: Accept-Encoding
Date: Sun, 10 Sep 2017 06:48:40 GMT
```
# Group General

## The API Details [/]

### General API Documentation [GET]
General API Documentation can be found by sending a GET request to `https://snyk.io/api/v1/`.
+ Response 200 (application/json; charset=utf-8)

        {
            "what orgs can the current token access?": "https://snyk.io/api/v1/orgs",
            "what projects are owned by this org?": "https://snyk.io/api/v1/org/:id/projects",
            "test a package for issues": "https://snyk.io/api/v1/test/:packageManager/:packageName/:packageVersion"
        }
# Group Users

## User Notification settings [/user/me/notification-settings]
The user notification settings that will determine which emails are sent.

### Get notification settings [GET]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

### Modify notification settings [PUT]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY
    + Attributes (Notification Settings Request)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

## User Organisation Notification settings [/user/me/notification-settings/org/{orgId}]
The organisation notification settings for the user that will determine which emails are sent.

### Get org notification settings [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have access to this organisation.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)


### Modify org notification settings [PUT]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY
    + Attributes (Notification Settings Request)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

## User Project Notification settings [/user/me/notification-settings/org/{orgId}/project/{projectId}]
The project notification settings for the user that will determine which emails are sent.

### Get project notification settings [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have access to this organisation.
    + projectId: `6d5813be-7e6d-4ab8-80c2-1e3e2a454545` (string, required) - The project ID to return notification settings for.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

### Modify project notification settings [PUT]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY
    + Attributes (Notification Settings Request)

+ Response 200 (application/json; charset=utf-8)
# Group Groups
A group is a set of multiple organisations.

## Organisations in groups [/group/{id}/org]
+ Parameters
    + id: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The group ID. The `API_KEY` must have access to this group.


### Create a new Organisation in the group [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Create organisations body)

+ Response 200 (application/json; charset=utf-8)

# Data Structures

## Create organisations body
  + name (string) - The name of the new organisation
  + sourceOrgId (string, optional) - The id of an organisation to copy settings from (optional).

  This organisation must be associated with the same group.

  The items that will be copied are:
    \+ Source control integrations (GitHub, Gitlab, Bitbucker...).
    \+ Platform as a Service and Serverless integrations (Heroku, AWS Lamda...).
    \+ Notification integrations (Slack, Jira...)
    \+ Licence policy
    \+ Ignore policy
    \+ Language settings

## List members in a group [/group/{groupId}/members]
+ Parameters
    + groupId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The group ID. The `API_KEY` must have access admin to this group.

### List all members in a group [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

    + Attributes (array)
        + (object)
            + id (string) - The id of the user.
            + name (string) - The name of the user.
            + username (string) - The username of the user.
            + email (string) - The email of the user.
            + orgs (array)
                + (object)
                    + name (string) - The name of the organisation
                    + role (string) - the role of the user in the organisation
            + groupRole (string) - (Optional) The role of the user in the group.

## Members in an organisation of a group [/group/{groupId}/org/{orgId}/members]
+ Parameters
    + groupId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The group ID. The `API_KEY` must have access admin to this group.
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID we want to add the member to. The `API_KEY` must have access to this organisation.

### Add a member to an organisation from another organisation in the group [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Add member body)

+ Response 200 (application/json; charset=utf-8)

# Data Structures

## Add member body
  + userId (string) - The id of the user.
  + role (string) - The role of the user, "admin" or "collaborator".
# Group Organisations

## The Snyk Organisation For A Request [/orgs]
Each request to Snyk has to be done in the context of a Snyk organisation. If no org is specified, the user's default organisation (user is identified according to the `API_KEY`) will be used.
The organisation determines the access rights, licenses policy and is the unit of billing for private projects.

An organisation should be given as a query parameter named `org`, with the public identifier given to this org. The list of organisations and their corresponding public ids can be found with the org resource.


### List All The Organisations A User Belongs To [GET]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

        {
            "orgs": [
                {
                    "name":"defaultOrg",
                    "id":"689ce7f9-7943-4a71-b704-2ba575f01089",
                    "group": null
                },
                {
                    "name":"My Other Org",
                    "id":"a04d9cbd-ae6e-44af-b573-0556b0ad4bd2",
                    "group": {
                        "name": "ACME Inc.",
                        "id": "a060a49f-636e-480f-9e14-38e773b2a97f"
                    }
                }
            ]
        }

## Notification settings [/org/{orgId}/notification-settings]
Manage the default settings for org notifications. These will be used as defaults, but can be re-defined by org members.

### Get org notification settings [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have access to this organisation.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

### Set notification settings [PUT]
+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY
    + Attributes (Notification Settings Request)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (Notification Settings Response)

## User invitation to organisation [/org/{orgId}/invite]
Invite users to the organisation by email.

### Invite users [POST]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have admin access to this organisation.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + email (string) - The email of the user.
        + isAdmin (string, optional) - (optional) Set the role as admin.

+ Response 200 (application/json; charset=utf-8)

## Members in organisation [/org/{orgId}/members]
Manage members in your organisation.

### List Members [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have admin access to this organisation.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

    + Attributes (array)
        + (object)
            + id (string) - The id of the user.
            + name (string) - The name of the user.
            + username (string) - The username of the user.
            + email (string) - The email of the user.
            + role (string) - The role of the user in the organisation.

## Manage roles in organisation [/org/{orgId}/members/{userId}]
Manage member's roles in your organisation.

### Update a member in the organisation [PUT]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have admin access to this organisation.
    + userId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The user ID.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + role (string) - The new role of the user, "admin" or "collaborator".

+ Response 200 (application/json; charset=utf-8)

### Remove a member from the organisation [DELETE]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + userId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The user ID we want to remove.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
# Group Integrations
Integrations are connections to places where code lives. They can be configured from the [integration settings](https://app.snyk.io/manage/integrations) page.

## Import projects [/org/{orgId}/integrations/{integrationId}/import]

### Import [POST]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + integrationId: `9a3e5d90-b782-468a-a042-9a2073736f0b` (string, required) - The ID of the integration. Can be found on the [integration settings](https://app.snyk.io/manage/integrations) page.

+ Request GitHub, GH Enterprise, Bitbucket Cloud and Azure Repos (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + owner (string) - owner of the repo
            + name (string) - name of the repo
            + branch (string) - the branch we need
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

+ Request GitLab (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + id (number) - id of the repo
            + branch (string) - the branch we need
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

+ Request BitBucket Server (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + projectKey (string) - owner of the repo
            + name (string) - name of the repo
            + repoSlug (string) - the branch we need
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

+ Request Heroku (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + appId (string) - ID of the app
            + slugId (string) - ID of the slug
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

+ Request AWS Lambda (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + functionId (string) - ID of the app
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

+ Request CloudFoundry, Pivotal & IBM Cloud (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Attributes (object)
        + target (object)
            + appId (string) - ID of the app
        + files (array, optional) - (Optional) an array of files to get
            + (object)
                + path (string) - path to the file

+ Response 201 (application/json; charset=utf-8)
    + Headers

            Location: URL for the status API call of the import

## Get import job details [/org/{orgId}/integrations/{integrationId}/import/{jobId}]

### Import [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + integrationId: `9a3e5d90-b782-468a-a042-9a2073736f0b` (string, required) - The ID of the integration. Can be found on the [integration settings](https://app.snyk.io/manage/integrations) page.
    + jobId: `1a325d9d-b782-468a-a242-9a2073734f0b` (string, required) - The ID of the job.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

        {
          "id": "dce061f7-ce0f-4ccf-b49b-4335d1205bd9",
          "status": "pending",
          "created": "2018-07-23T15:21:10.611Z",
          "logs": [
            {
              "name": "org1/repo1",
              "created": "2018-07-23T15:21:10.643Z",
              "status": "failed",
              "projects": []
            },
            {
              "name": "org2/repo2",
              "created": "2018-07-23T15:21:10.644Z",
              "status": "complete",
              "projects": [
                {
                  "targetFile": "package.json",
                  "success": true,
                  "projectUrl": "https://snyk.io/org/org-name/project/7eeaee25-5f9b-4d05-8818-4cca2c9d9adc"
                }
              ]
            },
            {
              "name": "org3/repo3",
              "created": "2018-07-23T15:21:10.643Z",
              "status": "pending",
              "projects": [
                {
                  "targetFile": "package.json",
                  "success": true,
                  "projectUrl": "https://snyk.io/org/org-name/project/0382897c-0617-4429-86df-51187dfd42f6"
                }
              ]
            }
          ]
        }

## Integration settings [/org/{orgId}/integrations/{integrationId}/settings]

### Settings [GET]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + integrationId: `9a3e5d90-b782-468a-a042-9a2073736f0b` (string, required) - The ID of the integration. Can be found on the [integration settings](https://app.snyk.io/manage/integrations) page.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

        {
          pullRequestTestEnabled: true,
          pullRequestFailOnAnyVulns: true,
          pullRequestFailOnlyForHighSeverity: true,
        }

### Settings [PUT]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + integrationId: `9a3e5d90-b782-468a-a042-9a2073736f0b` (string, required) - The ID of the integration. Can be found on the [integration settings](https://app.snyk.io/manage/integrations) page.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

    + Body

            {
                "pullRequestTestEnabled": true,
                "pullRequestFailOnAnyVulns": false,
                "pullRequestFailOnlyForHighSeverity": true
            }

+ Response 200 (application/json; charset=utf-8)

        {
          pullRequestTestEnabled: true,
          pullRequestFailOnAnyVulns: false,
          pullRequestFailOnlyForHighSeverity: true,
        }

### Settings [DELETE]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must admin have access to this organisation.
    + integrationId: `9a3e5d90-b782-468a-a042-9a2073736f0b` (string, required) - The ID of the integration. Can be found on the [integration settings](https://app.snyk.io/manage/integrations) page.

+ Request (application/json; charset=utf-8)
    + Headers

            Authorization: token API_KEY

+ Response 204 (application/json; charset=utf-8)
# Group Projects
A project is a package that is actively tracked by Snyk.

## All Projects [/org/{id}/projects]
+ Parameters
    + id: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list projects for. The `API_KEY` must have access to this organisation.

### List All Projects [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    + Attributes (List All Projects)

    + Body

            {
                "org": {
                    "name": "defaultOrg",
                    "id": "689ce7f9-7943-4a71-b704-2ba575f01089"
                    },
                "projects": [
                    {
                        "name": "atokeneduser/goof",
                        "id": "6d5813be-7e6d-4ab8-80c2-1e3e2a454545",
                        "created": "2018-10-29T09:50:54.014Z",
                        "origin": "cli",
                        "type": "npm",
                        "readOnly": "false",
                        "testFrequency": "daily",
                        "totalDependencies": 438,
                        "issueCountsBySeverity": {
                            "low": 8,
                            "high": 13,
                            "medium": 15,
                        },
                        "lastTestedDate": "2019-02-05T06:21:00.000Z"
                    },
                    {
                        "name": "atokeneduser/clojure",
                        "id": "af127b96-6966-46c1-826b-2e79ac49bbd9",
                        "created": "2018-10-29T09:50:54.014Z",
                        "origin": "github",
                        "type": "maven",
                        "readOnly": "false",
                        "testFrequency": "hourly",
                        "totalDependencies": 42,
                        "issueCountsBySeverity": {
                            "low": 8,
                            "high": 13,
                            "medium": 21,
                        },
                        "lastTestedDate": "2019-02-05T07:01:00.000Z"
                    },
                    {
                        "name": "docker-image|alpine",
                        "id": "f6c8339d-57e1-4d64-90c1-81af0e811f7e",
                        "created": "2019-02-04T08:54:07.704Z",
                        "origin": "cli",
                        "type": "apk",
                        "readOnly": "false",
                        "testFrequency": "daily",
                        "totalDependencies": 14,
                        "issueCountsBySeverity": {
                            "low": 0,
                            "high": 0,
                            "medium": 0
                        },
                        "imageId": "sha256:caf27325b298a6730837023a8a342699c8b7b388b8d878966b064a1320043019",
                        "imageTag": "latest",
                        "lastTestedDate": "2019-02-05T08:54:07.704Z"
                    }
                ]
            }

## Individual Project [/org/{orgId}/project/{projectId}]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID the project belongs to. The `API_KEY` must have access to this organisation.
    + projectId: `463c1ee5-31bc-428c-b451-b79a3270db08` (string, required) - The project ID.

### Delete a Project [DELETE]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

## Project Issues [/org/{orgId}/project/{projectId}/issues]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have access to this organisation.
    + projectId: `6d5813be-7e6d-4ab8-80c2-1e3e2a454545` (string, required) - The project ID to return issues for.

### List All Issues [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Project Issues Filters)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Project Issues)

    + Body

            {
                "ok": false,
                "issues": {
                    "vulnerabilities": [
                        {
                            "id": "npm:ms:20170412",
                            "url": "https://snyk.io/vuln/npm:ms:20170412",
                            "title": "Regular Expression Denial of Service (ReDoS)",
                            "type": "vuln",
                            "description": "## Overview\n[`ms`](https://www.npmjs.com/package/ms) is a tiny millisecond conversion utility.\n\nAffected versions of this package are vulnerable to Regular Expression Denial of Service (ReDoS) due to an incomplete fix for previously reported vulnerability [npm:ms:20151024](https://snyk.io/vuln/npm:ms:20151024). The fix limited the length of accepted input string to 10,000 characters, and turned to be insufficient making it possible to block the event loop for 0.3 seconds (on a typical laptop) with a specially crafted string passed to `ms()` function.\n\n*Proof of concept*\n```js\nms = require('ms');\nms('1'.repeat(9998) + 'Q') // Takes about ~0.3s\n```\n\n**Note:** Snyk's patch for this vulnerability limits input length to 100 characters. This new limit was deemed to be a breaking change by the author.\nBased on user feedback, we believe the risk of breakage is _very_ low, while the value to your security is much greater, and therefore opted to still capture this change in a patch for earlier versions as well.  Whenever patching security issues, we always suggest to run tests on your code to validate that nothing has been broken.\n\nFor more information on `Regular Expression Denial of Service (ReDoS)` attacks, go to our [blog](https://snyk.io/blog/redos-and-catastrophic-backtracking/).\n\n## Disclosure Timeline\n- Feb 9th, 2017 - Reported the issue to package owner.\n- Feb 11th, 2017 - Issue acknowledged by package owner.\n- April 12th, 2017 - Fix PR opened by Snyk Security Team.\n- May 15th, 2017 - Vulnerability published.\n- May 16th, 2017 - Issue fixed and version `2.0.0` released.\n- May 21th, 2017 - Patches released for versions `>=0.7.1, <=1.0.0`.\n\n## Remediation\nUpgrade `ms` to version 2.0.0 or higher.\n\n## References\n- [GitHub PR](https://github.com/zeit/ms/pull/89)\n- [GitHub Commit](https://github.com/zeit/ms/pull/89/commits/305f2ddcd4eff7cc7c518aca6bb2b2d2daad8fef)\n",
                            "from": [
                                "mongoose@4.2.4",
                                "mquery@1.6.3",
                                "debug@2.2.0",
                                "ms@0.7.1"
                            ],
                            "package": "ms",
                            "version": "0.7.1",
                            "severity": "low",
                            "language": "js",
                            "packageManager": "npm",
                            "semver": {
                                "unaffected": ">=2.0.0",
                                "vulnerable": "<2.0.0"
                            },
                            "publicationTime": "2017-05-15T06:02:45.497Z",
                            "disclosureTime": "2017-04-11T21:00:00.000Z",
                            "isUpgradable": true,
                            "isPatchable": true,
                            "identifiers": {
                                "CVE": [],
                                "CWE": [
                                    "CWE-400"
                                ],
                                "ALTERNATIVE": [
                                    "SNYK-JS-MS-10509"
                                ]
                            },
                            "credit": [
                                "Snyk Security Research Team"
                            ],
                            "CVSSv3": "CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:L",
                            "cvssScore": 3.7,
                            "patches": [
                                {
                                    "id": "patch:npm:ms:20170412:0",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/ms/20170412/ms_100.patch"
                                    ],
                                    "version": "=1.0.0",
                                    "comments": [],
                                    "modificationTime": "2017-05-16T10:12:18.990Z"
                                },
                                {
                                    "id": "patch:npm:ms:20170412:1",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/ms/20170412/ms_072-073.patch"
                                    ],
                                    "version": "=0.7.2 || =0.7.3",
                                    "comments": [],
                                    "modificationTime": "2017-05-16T10:12:18.990Z"
                                },
                                {
                                    "id": "patch:npm:ms:20170412:2",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/ms/20170412/ms_071.patch"
                                    ],
                                    "version": "=0.7.1",
                                    "comments": [],
                                    "modificationTime": "2017-05-16T10:12:18.990Z"
                                }
                            ],
                            "isIgnored": true,
                            "isPatched": false,
                            "upgradePath": [
                                "mongoose@4.10.2",
                                "mquery@2.3.1",
                                "debug@2.6.8",
                                "ms@2.0.0"
                            ]
                        },
                        {
                            "id": "npm:qs:20170213",
                            "url": "https://snyk.io/vuln/npm:qs:20170213",
                            "title": "Prototype Override Protection Bypass",
                            "type": "vuln",
                            "description": "## Overview\n[`qs`](https://www.npmjs.com/package/qs) is a querystring parser that supports nesting and arrays, with a depth limit.\n\nBy default `qs` protects against attacks that attempt to overwrite an object's existing prototype properties, such as `toString()`, `hasOwnProperty()`,etc.\n\nFrom [`qs` documentation](https://github.com/ljharb/qs):\n> By default parameters that would overwrite properties on the object prototype are ignored, if you wish to keep the data from those fields either use plainObjects as mentioned above, or set allowPrototypes to true which will allow user input to overwrite those properties. WARNING It is generally a bad idea to enable this option as it can cause problems when attempting to use the properties that have been overwritten. Always be careful with this option.\n\nOverwriting these properties can impact application logic, potentially allowing attackers to work around security controls, modify data, make the application unstable and more.\n\nIn versions of the package affected by this vulnerability, it is possible to circumvent this protection and overwrite prototype properties and functions by prefixing the name of the parameter with `[` or `]`. e.g. `qs.parse(\"]=toString\")` will return `{toString = true}`, as a result, calling `toString()` on the object will throw an exception.\n\n**Example:**\n```js\nqs.parse('toString=foo', { allowPrototypes: false })\n// {}\n\nqs.parse(\"]=toString\", { allowPrototypes: false })\n// {toString = true} <== prototype overwritten\n```\n\nFor more information, you can check out our [blog](https://snyk.io/blog/high-severity-vulnerability-qs/).\n\n## Disclosure Timeline\n- February 13th, 2017 - Reported the issue to package owner.\n- February 13th, 2017 - Issue acknowledged by package owner.\n- February 16th, 2017 - Partial fix released in versions `6.0.3`, `6.1.1`, `6.2.2`, `6.3.1`.\n- March 6th, 2017     - Final fix released in versions `6.4.0`,`6.3.2`, `6.2.3`, `6.1.2` and `6.0.4`\n\n## Remediation\nUpgrade `qs` to version `6.4.0` or higher.\n**Note:** The fix was backported to the following versions `6.3.2`, `6.2.3`, `6.1.2`, `6.0.4`.\n\n## References\n- [GitHub Commit](https://github.com/ljharb/qs/commit/beade029171b8cef9cee0d03ebe577e2dd84976d)\n- [Report of an insufficient fix](https://github.com/ljharb/qs/issues/200)\n",
                            "from": [
                                "qs@0.0.6"
                            ],
                            "package": "qs",
                            "version": "0.0.6",
                            "severity": "high",
                            "language": "js",
                            "packageManager": "npm",
                            "semver": {
                                "unaffected": ">=6.4.0 || ~6.3.2 || ~6.2.3 || ~6.1.2 || ~6.0.4",
                                "vulnerable": "<6.3.2 >=6.3.0 || <6.2.3 >=6.2.0 || <6.1.2 >=6.1.0 || <6.0.4"
                            },
                            "publicationTime": "2017-03-01T10:00:54.163Z",
                            "disclosureTime": "2017-02-13T00:00:00.000Z",
                            "isUpgradable": true,
                            "isPatchable": false,
                            "identifiers": {
                                "CVE": [],
                                "CWE": [
                                    "CWE-20"
                                ],
                                "ALTERNATIVE": [
                                    "SNYK-JS-QS-10407"
                                ]
                            },
                            "credit": [
                                "Snyk Security Research Team"
                            ],
                            "CVSSv3": "CVSS:3.0/AV:N/AC:H/PR:N/UI:N/S:U/C:H/I:H/A:N",
                            "cvssScore": 7.4,
                            "patches": [
                                {
                                    "id": "patch:npm:qs:20170213:0",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/630_632.patch"
                                    ],
                                    "version": "=6.3.0",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:1",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/631_632.patch"
                                    ],
                                    "version": "=6.3.1",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:2",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/621_623.patch"
                                    ],
                                    "version": "=6.2.1",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:3",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/622_623.patch"
                                    ],
                                    "version": "=6.2.2",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:4",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/610_612.patch"
                                    ],
                                    "version": "=6.1.0",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:5",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/611_612.patch"
                                    ],
                                    "version": "=6.1.1",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:6",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/602_604.patch"
                                    ],
                                    "version": "=6.0.2",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                },
                                {
                                    "id": "patch:npm:qs:20170213:7",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/qs/20170213/603_604.patch"
                                    ],
                                    "version": "=6.0.3",
                                    "comments": [],
                                    "modificationTime": "2017-03-09T00:00:00.000Z"
                                }
                            ],
                            "isIgnored": true,
                            "isPatched": false,
                            "upgradePath": [
                                "qs@6.0.4"
                            ],
                            "ignored": [
                                {
                                    "reason": "Test reason",
                                    "expires": "2100-01-01T00:00:00.000Z",
                                    "source": "cli"
                                }
                            ]
                        },
                        {
                            "id": "npm:mongoose:20160116",
                            "url": "https://snyk.io/vuln/npm:mongoose:20160116",
                            "title": "Remote Memory Exposure",
                            "type": "vuln",
                            "description": "## Overview\nA potential memory disclosure vulnerability exists in mongoose.\nA `Buffer` field in a MongoDB document can be used to expose sensitive\ninformation such as code, runtime memory and user data into MongoDB.\n\n### Details\nInitializing a `Buffer` field in a document with integer `N` creates a `Buffer`\nof length `N` with non zero-ed out memory.\n**Example:**\n```\nvar x = new Buffer(100); // uninitialized Buffer of length 100\n// vs\nvar x = new Buffer('100'); // initialized Buffer with value of '100'\n```\nInitializing a MongoDB document field in such manner will dump uninitialized\nmemory into MongoDB.\nThe patch wraps `Buffer` field initialization in mongoose by converting a\n`number` value `N` to array `[N]`, initializing the `Buffer` with `N` in its\nbinary form.\n\n#### Proof of concept\n```javascript\nvar mongoose = require('mongoose');\nmongoose.connect('mongodb://localhost/bufftest');\n\n// data: Buffer is not uncommon, taken straight from the docs: http://mongoosejs.com/docs/schematypes.html\nmongoose.model('Item', new mongoose.Schema({id: String, data: Buffer}));\n\nvar Item = mongoose.model('Item');\n\nvar sample = new Item();\nsample.id = 'item1';\n\n// This will create an uninitialized buffer of size 100\nsample.data = 100;\nsample.save(function () {\n    Item.findOne(function (err, result) {\n        // Print out the data (exposed memory)\n        console.log(result.data.toString('ascii'))\n        mongoose.connection.db.dropDatabase(); // Clean up everything\n        process.exit();\n    });\n});\n```\n\n## Remediation\nUpgrade `mongoose` to version >= 3.8.39 or >= 4.3.6.\n\nIf a direct dependency update is not possible, use [`snyk wizard`](https://snyk.io/docs/using-snyk#wizard) to patch this vulnerability.\n\n## References\n- [GitHub Issue](https://github.com/Automattic/mongoose/issues/3764)\n- [Blog: Node Buffer API fix](https://github.com/ChALkeR/notes/blob/master/Lets-fix-Buffer-API.md#previous-materials)\n- [Blog: Information about Buffer](https://github.com/ChALkeR/notes/blob/master/Buffer-knows-everything.md)\n",
                            "from": [
                                "mongoose@4.2.4"
                            ],
                            "package": "mongoose",
                            "version": "4.2.4",
                            "severity": "medium",
                            "language": "js",
                            "packageManager": "npm",
                            "semver": {
                                "unaffected": "<3.5.5 || >=4.3.6",
                                "vulnerable": "<3.8.39 >=3.5.5 || <4.3.6 >=4.0.0"
                            },
                            "publicationTime": "2016-01-23T12:00:05.158Z",
                            "disclosureTime": "2016-01-23T12:00:05.158Z",
                            "isUpgradable": true,
                            "isPatchable": true,
                            "identifiers": {
                                "CVE": [],
                                "CWE": [
                                    "CWE-201"
                                ],
                                "ALTERNATIVE": [
                                    "SNYK-JS-MONGOOSE-10081"
                                ]
                            },
                            "credit": [
                                "ChALkeR"
                            ],
                            "CVSSv3": "CVSS:3.0/AV:L/AC:H/PR:N/UI:N/S:U/C:H/I:N/A:N",
                            "cvssScore": 5.1,
                            "patches": [
                                {
                                    "id": "patch:npm:mongoose:20160116:0",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/mongoose/20160116/20160116_0_0_mongoose_8066b145c07984c8b7e56dbb51721c0a3d48e18a.patch"
                                    ],
                                    "version": "<4.3.6 >=4.1.2",
                                    "comments": [],
                                    "modificationTime": "2016-01-23T12:00:05.158Z"
                                },
                                {
                                    "id": "patch:npm:mongoose:20160116:1",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/mongoose/20160116/20160116_0_1_mongoose_8066b145c07984c8b7e56dbb51721c0a3d48e18a.patch"
                                    ],
                                    "version": "<4.1.2 >=4.0.0",
                                    "comments": [],
                                    "modificationTime": "2016-01-23T12:00:05.158Z"
                                },
                                {
                                    "id": "patch:npm:mongoose:20160116:2",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/mongoose/20160116/20160116_0_3_mongoose_2ff7d36c5e52270211b17f3a84c8a47c6f4d8c1f.patch"
                                    ],
                                    "version": "<3.8.39 >=3.6.11",
                                    "comments": [],
                                    "modificationTime": "2016-01-23T12:00:05.158Z"
                                },
                                {
                                    "id": "patch:npm:mongoose:20160116:3",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/mongoose/20160116/20160116_0_5_mongoose_2ff7d36c5e52270211b17f3a84c8a47c6f4d8c1f.patch"
                                    ],
                                    "version": "=3.6.11",
                                    "comments": [],
                                    "modificationTime": "2016-01-23T12:00:05.158Z"
                                },
                                {
                                    "id": "patch:npm:mongoose:20160116:4",
                                    "urls": [
                                        "https://s3.amazonaws.com/snyk-rules-pre-repository/snapshots/develop/patches/npm/mongoose/20160116/20160116_0_4_mongoose_2ff7d36c5e52270211b17f3a84c8a47c6f4d8c1f.patch"
                                    ],
                                    "version": "<3.6.10 >=3.5.5",
                                    "comments": [],
                                    "modificationTime": "2016-01-23T12:00:05.158Z"
                                }
                            ],
                            "isIgnored": false,
                            "isPatched": true,
                            "upgradePath": [
                                "mongoose@4.3.6"
                            ],
                            "patched": [
                                {
                                    "patched": "2016-10-24T10:50:51.980Z"
                                }
                            ]
                        }
                    ],
                    "licenses": []
                },
                "dependencyCount": 250,
                "packageManager": "npm"
            }

## Project Dependency Graph [/org/{orgId}/project/{projectId}/dep-graph]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID. The `API_KEY` must have access to this organisation.
    + projectId: `6d5813be-7e6d-4ab8-80c2-1e3e2a454545` (string, required) - The project ID to return issues for.
### Get Project Dependency Graph [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
    * A reference implementation of the graph, as well as conversion functions to/from legacy tree format, can be found at: https://github.com/snyk/dep-graph.
    * The object might contain additional fields in the future, in a backward-compatible way (`schemaVersion` will change accordingly).

    + Attributes (Project Dependency Graph)

    + Body

            {
                "depGraph": {
                    "schemaVersion": "1.1.0",
                    "pkgManager": {
                        "name": "npm"
                    },
                    "pkgs": [
                        {
                            "id": "demo-app-for-test@1.1.1",
                            "info": {
                                "name": "demo-app-for-test",
                                "version": "1.1.1"
                            }
                        },
                        {
                            "id": "express@4.4.0",
                            "info": {
                                "name": "express",
                                "version": "4.4.0"
                            }
                        },
                        {
                            "id": "ws@1.0.0",
                            "info": {
                                "name": "ws",
                                "version": "1.0.0"
                            }
                        }
                    ],
                    "graph": {
                        "rootNodeId": "root-node",
                        "nodes": [
                            {
                                "nodeId": "root-node",
                                "pkgId": "demo-app-for-test@1.1.1",
                                "deps": [
                                    {
                                        "nodeId": "express@4.4.0"
                                    },
                                    {
                                        "nodeId": "ws@1.0.0"
                                    }
                                ]
                            },
                            {
                                "nodeId": "express@4.4.0",
                                "pkgId": "express@4.4.0",
                                "deps": []
                            },
                            {
                                "nodeId": "ws@1.0.0",
                                "pkgId": "ws@1.0.0",
                                "deps": []
                            }
                        ]
                    }
                }
            }
## Project Ignores [/org/{orgId}/project/{projectId}/ignores]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list ignores for. The `API_KEY` must have access to this organisation.
    + projectId: `463c1ee5-31bc-428c-b451-b79a3270db08` (string, required) - The project ID to list ignores for.

### List All Ignores [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

    + Attributes (All Ignores)

    + Body

            {
                "npm:qs:20140806-1": [
                    {
                        "*": {
                            "reason": "No fix available",
                            "created": "2017-10-31T11:24:00.932Z",
                            "ignoredBy": {
                                "id": "a3952187-0d8e-45d8-9aa2-036642857b4f",
                                "name": "Joe Bloggs",
                                "email": "jbloggs@gmail.com"
                            },
                            "reasonType": "tempoarary-ignore",
                            "disregardIfFixable": true
                        }
                    }
                ],
                "npm:negotiator:20160616": [
                    {
                        "*": {
                            "reason": "Not vulnerable via this path",
                            "created": "2017-10-31T11:24:45.365Z",
                            "ignoredBy": {
                                "id": "a3952187-0d8e-45d8-9aa2-036642857b4f",
                                "name": "Joe Bloggs",
                                "email": "jbloggs@gmail.com"
                            },
                            "reasonType": "not-vulnerable",
                            "disregardIfFixable": false
                        }
                    }
                ],
                "npm:electron:20170426": [
                    {
                        "*": {
                            "reason": "Low impact",
                            "created": "2017-10-31T11:25:17.138Z",
                            "ignoredBy": {
                                "id": "a3952187-0d8e-45d8-9aa2-036642857b4f",
                                "name": "Joe Bloggs",
                                "email": "jbloggs@gmail.com"
                            },
                            "reasonType": "wont-fix",
                            "disregardIfFixable": false
                        }
                    }
                ]
            }

## Project Ignores By Issue [/org/{orgId}/project/{projectId}/ignore/{issueId}]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to modify ignores for. The `API_KEY` must have access to this organisation.
    + projectId: `463c1ee5-31bc-428c-b451-b79a3270db08` (string, required) - The project ID to modify ignores for.
    + issueId: `npm:qs:20140806-1` (string, required) - The issue ID to modify ignores for.

### Add Ignore [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Ignore Rule)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Ignore)

    + Body

            {
                "*": {
                    "reason": "No fix available",
                    "created": "2017-10-31T11:24:00.932Z",
                    "ignoredBy": {
                        "id": "a3952187-0d8e-45d8-9aa2-036642857b4f",
                        "name": "Joe Bloggs",
                        "email": "jbloggs@gmail.com"
                    },
                    "reasonType": "tempoarary-ignore",
                    "disregardIfFixable": true
                }
            }

### Replace Ignores [PUT]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Ignore Rules)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Ignores)

    + Body

            [
                {
                    "*": {
                        "reason": "No fix available",
                        "created": "2017-10-31T11:24:00.932Z",
                        "ignoredBy": {
                            "id": "a3952187-0d8e-45d8-9aa2-036642857b4f",
                            "name": "Joe Bloggs",
                            "email": "jbloggs@gmail.com"
                        },
                        "reasonType": "tempoarary-ignore",
                        "disregardIfFixable": true
                    }
                }
            ]

### Delete Ignores [DELETE]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

## Project Jira Issues - [/org/{orgId}/project/{projectId}/jira-issues]

If you have configured an integration with Jira, it is possible to create Jira issues for project vulnerabilities or license issues directly from the Snyk API.

The Jira integration is available to customers on the pro or enterprise plan.

+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list Jira issues for. The `API_KEY` must have access to this organisation.
    + projectId: `463c1ee5-31bc-428c-b451-b79a3270db08` (string, required) - The project ID to list Jira issues for.

### List All Jira Issues [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)

    + Attributes (All Jira Issues)

    + Body

            {
                "npm:qs:20140806-1": [
                    {
                        "jiraIssue": {
                            "id": "10001",
                            "key": "EX-1",
                        }
                    }
                ],
                "npm:negotiator:20160616": [
                    {
                        "jiraIssue": {
                            "id": "10002",
                            "key": "EX-2",
                        }
                    }
                ]
            }

### Create Jira Issue [POST /org/{orgId}/project/{projectId}/issue/{issueId}/jira-issue]
+ Parameters
    + issueId: `npm:qs:20140806-1` (string, required) - The issue ID to create Jira issue for.

+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Jira Issue Request)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Jira Issue)

    + Body

            {
                "jiraIssue": {
                    "id": "10001",
                    "key": "EX-1",
                }
            }


## Project Settings [/org/{orgId}/project/{projectId}/settings]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to which the project belongs. The API_KEY must have access to this organisation.
    + projectId: `463c1ee5-31bc-428c-b451-b79a3270db08` (string, required) - The project ID

### List Project Settings [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

+ Response 200 (application/json; charset=utf-8)
The response will contain only attributes that can be updated (see `ATTRIBUTES` section in `Update Project Settings`) and that have been previously set.

    + Body

            {
                "pullRequestTestEnabled": true,
            }

### Update Project Settings [PUT]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Project Settings)

    + Body

            {
                "pullRequestTestEnabled": true,
                "pullRequestFailOnAnyVulns": false,
                "pullRequestFailOnlyForHighSeverity": true
            }

+ Response 200 (application/json; charset=utf-8)
The response will contain the attributes and values that have been sent in the request and successfully updated.

    + Body

                {
                    "pullRequestTestEnabled": true,
                    "pullRequestFailOnAnyVulns": false,
                    "pullRequestFailOnlyForHighSeverity": true
                }


# Data Structures

## List All Projects (object)
+ org (object)
    + name (string)
    + id (string) - The identifier of the org
+ projects (array, fixed-type) - A list of org's projects
    + (object)
        + name (string)
        + id (string) - The project identifier
        + created (string) - The date that the project was created on
        + origin (string) - The origin the project was added from
        + type (string) - The package manager of the project
        + readOnly (boolean) - Whether the project is read-only
        + testFrequency (string) - The frequency of Snyk testing as defined in settings
        + totalDependencies (number) - Number of dependencies of the project
        + issueCountsBySeverity (object) - Number of known vulnerabilities in the project
            + low (number) - Number of low severity vulnerabilities
            + medium (number) - Number of medium severity vulnerabilities
            + high (number) - Number of high severity vulnerabilities
        + imageId (string) - For docker projects shows the ID of the image
        + imageTag (string) - For docker projects shows the tag of the image
        + lastTestedDate (string) -The date on which the most recent test was conducted for this project

## Project Issues (object)
+ ok (boolean, required) - Whether the project has issues (which are not ignored or patched)
+ issues (object, required)
    + vulnerabilities (array, fixed-type, required) - A list of vulnerability issues
        + (object, required)
            + id (string, required) - The identifier of the issue
            + url (string, required) - URL to a page containing information about the issue
            + title (string, required) - The issue title
            + description (string, required) - The issue description
            + from (array, required) - The path that the issue was introduced by
            + upgradePath (array, required) - The path to upgrade the package to a non-vulnerable version
            + package (string, required) - The name of the package that the issue relates to
            + version (string, required) - The version of the package that the issue relates to
            + severity (string, required) - The severity status of the issue
            + isUpgradable (boolean) - Whether the issue can be fixed by upgrading to a later version of the dependency
            + isPatchable (boolean) - Whether the issue can be patched
            + publicationTime (string) - The date that the vulnerability was first published by Snyk
            + disclosureTime (string) - The date that the vulnerability was first disclosed
            + language (string) - The language of the issue
            + packageManager (string) - The package manager of the issue
            + identifiers (object) - External identifiers assigned to the issue
                + CVE (array[string]) - Common Vulnerability Enumeration identifiers
                + CWE (array[string]) - Common Weakness Enumeration identifiers
                + OSVDB (array[string]) - Identifiers assigned by the Open Source Vulnerability Database (OSVDB)
            + credit (array[string]) - The list of people responsible for first uncovering or reporting the issue
            + CVSSv3 (string) - The CVSS v3 string that signifies how the CVSS score was calcualted
            + cvssScore (number) - The CVSS score that results from running the CVSSv3 string
            + patches (array) - A list of patches available for the given issue
                + (object)
                    + id (string) - The identifier of the patch
                    + urls (array[string]) - The URLs where the patch files can be downloaded
                    + version (string) - The version number(s) that the patch can be applied to
                    + comments (array[string]) - Any comments about the patch
                    + modificationTime (string) - When the patch was last modified
            + isIgnored (boolean, required) - Whether the issue has been ignored
            + isPatched (boolean, required) - Whether the issue has been patched
            + semver (object) - The ranges that are vulnerable and unaffected by the issue
                + vulnerable (string) - The ranges that are vulnerable to the issue
                + unaffected (string) - The ranges that are unaffected by the issue
            + ignored (array) - The list of reasons why the issue was ignored
                + (object)
                    + reason (string) - A reason why the issue was ignored
                    + expires (string) - The date when the ignore will no longer apply
                    + source (enum[string]) - The place where the ignore rule was applied from
                        + Members
                            + `cli` - The ignore was applied via the CLI or filesystem
                            + `api` - The ignore was applied via the API or website
            + patched (array) - The list of patches applied to the issue
                + (object)
                    + patched (string) - The date when the patch was applied
    + licenses (array, fixed-type, required) - A list of vulnerability issues
        + (object, required)
            + id (string, required) - The identifier of the issue
            + url (string, required) - URL to a page containing information about the issue
            + title (string, required) - The issue title
            + from (array, required) - The path that the issue was introduced by
            + package (string, required) - The name of the package that the issue relates to
            + version (string, required) - The version of the package that the issue relates to
            + severity (string, required) - The severity status of the issue
            + language (string) - The language of the issue
            + packageManager (string) - The package manager of the issue
            + isIgnored (boolean, required) - Whether the issue has been ignored
            + isPatched (boolean, required) - Whether the issue has been patched
            + ignored (array) - The list of reasons why the issue was ignored
                + (object)
                    + reason (string) - A reason why the issue was ignored
                    + expires (string) - The date when the ignore will no longer apply
                    + source (enum[string]) - The place where the ignore rule was applied from
                        + Members
                            + `cli` - The ignore was applied via the CLI or filesystem
                            + `api` - The ignore was applied via the API or website
            + patched (array) - The list of patches applied to the issue
                + (object)
                    + patched (string) - The date when the patch was applied
+ dependencyCount (number) - The number of dependencies the package has
+ packageManager (string) - The package manager of the project

## Project Dependency Graph (object)
+ depGraph (object, required) - The dependency-graph object
    + schemaVersion (string, required) - The scheme version of the depGraph object
    + pkgManager (object, required) - The package manager of the project
        + name (string, required) - The name of the package manager
        + version (string) - The version of the package manager
        + repositories (array, fixed-type)
            + alias: (string, required)
    + pkgs (array, fixed-type, required) - A list of dependencies in the project
        + (object, required)
            + id (string, required) - The internal id of the package
            + info (object, required)
                + name (string, required) - The name of the package
                + version (string) - The version of the package
    + graph (object, required) - A directional graph of the packages in the project
        + rootNodeId (string, required) - The internal id of the root node
        + nodes (array, fixed-type) - A list of the first-level packages
            + (object, required)
                + nodeId (string, required) - The internal id of the node
                + pkgId (string, required) - The id of the package
                + deps (array, fixed-type, required) - A list of the direct dependencies of the package
                    + (object, required)
                        + nodeId (string, required) - The id of the node

## Project Issues Filters
+ filters (object)
    + severities (array) - The severity levels of issues to filter the results by
        + high (string) - Include issues which are high severity
        + medium (string) - Include issues which are medium severity
        + low (string) - Include issues which are low severity
    + types (array) - The type of issues to filter the results by
        + vuln (string) - Include issues which are vulnerabilities
        + license (string) - Include issues which are licenses
    + ignored (boolean) - If set to `true`, only include issues which are ignored, if set to `false`, only include issues which are not ignored
    + patched (boolean) - If set to `true`, only include issues which are patched, if set to `false`, only include issues which are not patched

## All Ignores (object)
+ *issueId (string)* (array[Ignore], required) - The issue ID that should be ignored.

## Ignore (object)
+ *ignorePath (string)* (object, required) - The path that should be ignored. Wildcards can be specified with a `*`.
    + reason (string) - The reason that the issue was ignored.
    + reasonType (enum[string]) - The classification of the ignore.
        + Members
            + `not-vulnerable` - The app is not vulnerable.
            + `wont-fix` - The app may be vulnerable, but you accept the risk.
            + `temporary-ignore` - You don't want to fix the issue at the moment for any reason.
    + ignoredBy (object) - The person who ignored the issue.
        + name (string, required) - The name of the person who ignored the issue.
        + email (string, required) - The email of the person who ignored the issue.
        + id (string) - The user ID of the person who ignored the issue.
    + disregardIfFixable (boolean) - Only ignore the issue if no upgrade or patch is available.
    + expires (string) - The timestamp that the issue will no longer be ignored.
    + created (string) - The timestamp that the issue was ignored.

## Ignores (array)
+ (object)
    + *ignorePath (string)* (object, required) - The path that should be ignored. Wildcards can be specified with a `*`.
        + reason (string) - The reason that the issue was ignored.
        + reasonType (enum[string]) - The classification of the ignore.
            + Members
                + `not-vulnerable` - The app is not vulnerable.
                + `wont-fix` - The app may be vulnerable, but you accept the risk.
                + `temporary-ignore` - You don't want to fix the issue at the moment for any reason.
        + ignoredBy (object) - The person who ignored the issue.
            + name (string, required) - The name of the person who ignored the issue.
            + email (string, required) - The email of the person who ignored the issue.
            + id (string) - The user ID of the person who ignored the issue.
        + disregardIfFixable (boolean) - Only ignore the issue if no upgrade or patch is available.
        + expires (string) - The timestamp that the issue will no longer be ignored.
        + created (string) - The timestamp that the issue was ignored.

## Ignore Rule (object)
+ ignorePath (string) - The path to ignore (default is `*` which represents all paths).
+ disregardIfFixable (boolean) - Only ignore the issue if no upgrade or patch is available.
+ reason (string) - The reason that the issue was ignored.
+ reasonType (enum[string]) - The classification of the ignore.
    + Members
        + `not-vulnerable` - The app is not vulnerable.
        + `wont-fix` - The app may be vulnerable, but you accept the risk.
        + `temporary-ignore` - You don't want to fix the issue at the moment for any reason.
+ disregardIfFixable (boolean, required) - Only ignore the issue if no upgrade or patch is available.
+ expires (string) - The timestamp that the issue will no longer be ignored.

## Ignore Rules (array)
+ (object)
    + ignorePath (string) - The path to ignore (default is `*` which represents all paths).
    + disregardIfFixable (boolean) - Only ignore the issue if no upgrade or patch is available.
    + reason (string) - The reason that the issue was ignored.
    + reasonType (enum[string]) - The classification of the ignore.
        + Members
            + `not-vulnerable` - The app is not vulnerable.
            + `wont-fix` - The app may be vulnerable, but you accept the risk.
            + `temporary-ignore` - You don't want to fix the issue at the moment for any reason.
    + disregardIfFixable (boolean, required) - Only ignore the issue if no upgrade or patch is available.
    + expires (string) - The timestamp that the issue will no longer be ignored.

## All Jira Issues (object)
+ *issueId (string)* (array[Jira Issue], required) - The issue ID and relating Jira issue.

## Jira Issue (object)
+ jiraIssue (object) - The details about the Jira issue.
    + id (string) - The id of the issue in Jira.
    + key (string) - The key of the issue in Jira.

## Jira Issue Request (object)

+ fields (object) - See https://developer.atlassian.com/cloud/jira/platform/rest/#api-api-2-issue-post for details of what to send as fields.

## Project Settings (object)
+ pullRequestTestEnabled (boolean) - If set to `true`, Snyk Test checks PRs for vulnerabilities.
+ pullRequestFailOnAnyVulns (boolean) - If set to `true`, fail Snyk Test if the repo has any vulnerabilities. Otherwise, fail only when the PR is adding a vulnerable dependency.
+ pullRequestFailOnlyForHighSeverity (boolean) - If set to `true`, fail Snyk Test only for high severity vulnerabilities.
# Group Dependencies
Dependencies are packages/modules that your projects depend on.

## Dependencies By Organisation [/org/{orgId}/dependencies{?sortBy,order,page,perPage}]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list projects for. The `API_KEY` must have access to this organisation.
    + sortBy: `dependency` (enum[string], optional) - The field to sort results by.
        + Default: `dependency`
        + Members
            + `projects`
            + `dependency`
            + `severity`
            + `dependenciesWithIssues`
    + order (enum[string], optional) - The direction to sort results by.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`
    + page (number, optional) - The page of results to fetch.
        + Default: `1`
    + perPage (number, optional) - The number of results to fetch per page.
        + Default: `20`

### List All Dependencies [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Dependencies Filters)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Dependencies)

    + Body

            {
                "results": [
                    {
                        "id": "gulp@3.9.1",
                        "name": "gulp",
                        "version": "3.9.1",
                        "latestVersion": "4.0.0",
                        "latestVersionPublishedDate": "2018-01-01T01:29:06.863Z",
                        "firstPublishedDate": "2013-07-04T23:27:07.828Z",
                        "isDeprecated": false,
                        "deprecatedVersions": ['0.0.1', '0.0.2', '0.0.3'],
                        "licenses": [
                            {
                                "id": "snyk:lic:npm:gulp:MIT",
                                "title": "MIT license",
                                "license": "MIT"
                            }
                        ],
                        "dependenciesWithIssues": [
                            "minimatch@2.0.10",
                            "minimatch@0.2.14"
                        ],
                        "packageManager": "npm",
                        "projects": [
                            {
                                "name": "atokeneduser/goof",
                                "id": "6d5813be-7e6d-4ab8-80c2-1e3e2a454545"
                            }
                        ]
                    }
                ],
                "total": 1
            }

# Data Structures

## Dependencies (object)
+ results (array, fixed-type, required) - A list of issues
    + (object, required)
        + id (string, required) - The identifier of the package
        + name (string, required) - The name of the package
        + version (string, required) - The version of the package
        + latestVersion (string) - The latest version available for the specified package
        + latestVersionPublishedDate (string) - The timestamp for when the latest version of the specified package was published.
        + firstPublishedDate (string) - The timestamp for when the specified package was first published.
        + isDeprecated (boolean) - True if the latest version of the package is marked as deprecated; False otherwise.
        + deprecatedVersions (array[string]) - The numbers for those versions that are marked as deprecated
        + dependenciesWithIssues (array[string]) - The identifiers of dependencies with issues that are depended upon as a result of this dependency
        + type (string, required) - The package type of the dependency
        + licenses (array, fixed-type, required) - The licenses of the dependency
            + (object)
                + id (string, required) - The identifier of the license
                + title (string, required) - The title of the license
                + license (string, required) - The type of the license
        + projects (array, fixed-type, required) - The projects which depend on the dependency
            + (object)
                + id (string, required) - The identifier of the project
                + name (string, required) - The name of the project
+ total (number) - The number of results returned

## Dependencies Filters
+ filters (object)
    + languages (array) - The type of languages to filter the results by
        + node (string) - Include issues which are for NodeJS projects (npm or yarn package managers)
        + ruby (string) - Include issues which are for Ruby projects (rubygems package manager)
        + java (string) - Include issues which are for Java projects (maven or gradle)
    + projects (array) - The list of project IDs to filter the results by
    + dependencies (array) - The list of dependency IDs to filter the results by
    + licenses (array) - The list of license IDs to filter the results by
    + depStatus (string) - Status of the dependency. Requires reporting entitlement. Options: `deprecated` - Include only deprecated packages; `notDeprecated` - Include all packages that are not marked as deprecated; `any` - Include all packages (default)
# Group Licenses
The licenses which the packages/modules in your projects use.

## Licenses By Organisation [/org/{orgId}/licenses{?sortBy,order}]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list projects for. The `API_KEY` must have access to this organisation.
    + sortBy: `license` (enum[string], optional) - The field to sort results by.
        + Default: `license`
        + Members
            + `license`
            + `dependencies`
            + `projects`
    + order (enum[string], optional) - The direction to sort results by.
        + Default: `asc`
        + Members
            + `asc`
            + `desc`

### List All Licenses [POST]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY

    + Attributes (Licenses Filters)

+ Response 200 (application/json; charset=utf-8)

    + Attributes (Licenses)

    + Body

            {
                "results": [
                    {
                        "id": "MIT",
                        "dependencies": [
                            {
                                "id": "accepts@1.0.0",
                                "name": "accepts",
                                "version": "1.0.0",
                                "packageManager": "npm"
                            }
                        ],
                        "projects": [
                            {
                                "name": "atokeneduser/goof",
                                "id": "6d5813be-7e6d-4ab8-80c2-1e3e2a454545"
                            }
                        ]
                    }
                ],
                "total": 1
            }

# Data Structures

## Licenses (object)
+ results (array, fixed-type, required) - A list of licenses
    + (object, required)
        + id (string, required) - The identifier of the license
        + dependencies (array, fixed-type, required) - The dependencies of projects in the organisation which have the license
            + (object)
                + id (string, required) - The identifier of the package
                + name (string, required) - The name of the package
                + version (string, required) - The version of the package
                + packageManager (string, required) - The package manager of the dependency
        + projects (array, fixed-type, required) - The projects which contain the license
            + (object)
                + id (string, required) - The identifier of the project
                + name (string, required) - The name of the project
+ total (number) - The number of results returned

## Licenses Filters
+ filters (object)
    + languages (array) - The type of languages to filter the results by
        + node (string) - Include issues which are for NodeJS projects (npm or yarn package managers)
        + ruby (string) - Include issues which are for Ruby projects (rubygems package manager)
        + java (string) - Include issues which are for Java projects (maven or gradle)
    + projects (array) - The list of project IDs to filter the results by
    + dependencies (array) - The list of dependency IDs to filter the results by
    + licenses (array) - The list of license IDs to filter the results by
# Group Entitlements
Entitlements are specific abilities an organisation has enabled.

## Entitlements By Organisation [/org/{orgId}/entitlements]
+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to list entitlements for. The `API_KEY` must have access to this organisation.

### List All Entitlements [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY


+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "licenses": true,
                "reports": true
            }


## A specific entitlement by organisation [/org/{orgId}/entitlement/{entitlementKey}]
It is possible to query an organisation for a specific entitlement, getting its value.

+ Parameters
    + orgId: `4a18d42f-0706-4ad0-b127-24078731fbed` (string, required) - The organisation ID to query the entitlement for. The `API_KEY` must have access to this organisation.
    + entitlementKey: `reports` (string, required) - The entitlement to query.

### Get an organisation's entitlement value [GET]
+ Request (application/json)
    + Headers

            Authorization: token API_KEY


+ Response 200 (application/json; charset=utf-8)

    + Body

            true
# Group Test
Test a package for issues with Snyk.

## Maven [/test/maven/{groupId}/{artifactId}/{version}{?org,repository}]
Test for issues in Maven files.

+ Parameters
    + org: `9695cbb1-3a87-4d6f-8ae1-61a1c37ee9f7` (string, optional) - The organisation to test the package with. See "The Snyk Organisation For A Request" above.
    + repository: `https://repo1.maven.org/maven2` (string, optional) - The Maven repository hosting this package. The default value is Maven Central. More than one value is supported, in order.

### Test For Issues In A Public Package By Group ID, Artifact ID and Version  [GET /test/maven/{groupId}/{artifactId}/{version}{?org,repository}]
You can test `maven` packages for issues according to their [coordinates](https://maven.apache.org/pom.html#Maven_Coordinates): group ID, artifact ID and version. The repository hosting the package may also be customized (see the `repository` query parameter).

+ Parameters
    + groupId: `org.apache.flex.blazeds` (string, required) - The package's group ID.
    + artifactId: `blazeds` (string, required) - The package's artifact ID.
    + version: `4.7.2` (string, required) - The package version to test.


+ Request (application/json)
    + Headers

            Authorization: token API_KEY



+ Response 200 (application/json; charset=utf-8)

        {
            "ok": false,
            "issues": {
              "vulnerabilities": [
                {
                  "id": "SNYK-JAVA-ORGAPACHEFLEXBLAZEDS-31455",
                  "url": "https://snyk.io/vuln/SNYK-JAVA-ORGAPACHEFLEXBLAZEDS-31455",
                  "title": "Arbitrary Code Execution",
                  "type": "vuln",
                  "package": "org.apache.flex.blazeds:blazeds",
                  "version": "4.7.2",
                  "severity": "high",
[...]
